.page-background{
    margin: 0;
    padding: 0;
    background-color: #c1c1c1;
}

.slide-custom{
    margin-top: 60px;
}

.slide-image{
    width: 1200px;
    height: 500px;
}

.content-custom{
    margin-top: 30px;
}

.footer{
    background-color: #555;
    border-radius: 5px;
    height: 150px;
    margin-top: 20px;
}

.table-custom{
    border-radius: 5px;
    background-color: #fff;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption{
    background-color: rgba(0,0,0,0.5); 
    border-radius: 10px;
}

.space-custom{
    margin-top: 20px;  
}

.image-gallery-background p{
    postion: relative;
    color: #fff;
    text-align: center;
}

.image-gallery-background{
    positon: relative;
    width: 250px;
    height: 288px;
    background-color: #000;
    opacity: 0.7;
}

.name-href:link{
 text-decoration: none;
 color: inherit;
}

.name-href:hover{
 text-decoration: none;
 color: inherit;
}

.name-href:visited{
 text-decoration: none;
 color: inherit;
}

.padded{
padding: 3px;
}